* { margin: 0; padding: 0; }

.list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    button {
        width: 100%;
    }
}

.v20 { height: 20%; }
.v25 { height: 25%; }
.v40 { height: 40%; }
