<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}" defer></script>
</head>

<body>

    <div id="menu">
        <button id="menu-netflix" onclick="menu('netflix')"><h1>Netflix</h1></button>
        <button id="menu-spotify" onclick="menu('spotify')"><h1>Spotify</h1></button>
        <button id="menu-system" onclick="menu('system')"><h1>System Controls</h1></button>
    </div>

    <div id="netflix"></div>
    <div id="spotify">Spoty</div>
    <div id="system"></div>

</body>
</html>
